@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Modification du Welcome réussie dans feature branch!</h1>

    <form action="" method="get">
        <label for="nom">Nom de famille :</label><br>
        <input type="text" id="nom" name="nom"><br>
        <label for="prenom">Prénom :</label><br>
        <input type="text" id="prenom" name="prenom"><br><br>
        <input type="submit" value="Submit">
    </form>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>